html {
  text-align: center;
}

body {
  color: white;
  font-family: 'Gamja Flower', Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 0;
  padding: 0;
  background: linear-gradient(-31deg, #98ffff, #3939ff);
  height: 100vh;
  font-size: 1.2em;
}

canvas {
  vertical-align: top;
  box-shadow: 4px 4px 12px darkslategray;
}

.container {
  padding-top: 1em;
}

#morse {
  /* background-color: darkgoldenrod; */
  height: 280px;
  width: 280px;
  margin: auto;
  display: inline-block;
  vertical-align: top;
  margin: 2em;
  border-color: rgb(255, 204, 0);
  border-width: 10px;
  border-style: solid;
  border-radius: 4px;
  overflow: hidden;
}

#canvas_container {
  margin: 2em;
  display: inline-block;
}

#call_to_action {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: bold;
}

#hint_img {
  width: 148px;
  margin-top: -2em;
  margin: auto;
  position: relative;
  top: -50px;
}

#type {
  font-size: 1.2em;
  margin: auto;
}

#letter {
  font-size: 6em;
  margin: auto;
  /* color: rgb(255, 204, 0); */
  color: black;
}

#small_word {
  position: relative;
  top: -150px;
}

#small_word_highlight {
  /* color: rgb(255, 204, 0); */
  color: black;
}
